<div>
    <mat-toolbar color = "primary" >
      <a  class="itemB" style="color: white;" routerLink="/home">
        <span >{{title}}</span>
      </a>

      <button mat-raised-button color="primary" class="smallBut" (click)="genererDonneesDeTest()">Peupler BD</button>
    </mat-toolbar>  
</div>

<div class="container center">
    <nav mat-tab-nav-bar  >
    <div class="item">   
          <a mat-tab-link *ngFor="let link of links" [routerLink]="link.link"
            (click)="activeLink = link"
            [active]="activeLink == link">
            
            <mat-icon>
              {{link.name}}
            </mat-icon>
          </a>
          
    </div>
    </nav>
</div>

<router-outlet></router-outlet>
<!--
here we should make tabs products and ajout
-->
