table {
    width: 100%;
  }
.container {
  margin-top: 20px;
}
.main{
  display:flex;
}

.labelBig{
  flex: 4; text-align:left
}
.smallBut{
  flex: 1;margin-right: auto; text-align: right;
}

.foot{
  font-size: 20px;
  margin-left: 15px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }