
<div class="containerB center">
    <mat-tab-group >
      <div class="item">
        <mat-tab *ngFor="let statut of statusList" >
            <ng-template mat-tab-label >
                <mat-icon  >{{statut.icon}}</mat-icon>
            <label>{{statut.name}}</label>
            </ng-template>
            
            <div class="parent">
            <mat-form-field appearance="fill" [style.width.em]="80" >
              <div>
                <mat-label></mat-label>
                <input  matInput (keyup)="applyFilter($event,statut)" placeholder="Rechercher" style="text-align:center;" #input>
              </div>
            </mat-form-field>
          </div>
            <div class="container mat-elevation-z8">

              <table mat-table [dataSource]="chooseData(statut)">
                <!-- Produit Column -->
                <ng-container matColumnDef="produit">
                  <th mat-header-cell *matHeaderCellDef>  
                    <label class="foot">Produit {{statut.name}}</label>
                  </th>                
                    <!-- Content -->
                    <section>
                        <td mat-cell *matCellDef="let row; let i=index;"> 
                        <mat-expansion-panel (opened)="panelOuvert = true" (closed)="panelOuvert = false">
                          <mat-expansion-panel-header>
                          <!-- Produit Label -->
                          <mat-panel-title class="labelBig">
                            <label >{{row.produit}}</label>  
                          </mat-panel-title>
                          <!-- Produit (C)RUD -->
                          <mat-panel-description class="labelBig">
                            <label class="smallBut"> {{row.dateAchat | date}} </label>
                            <mat-icon class="smallBut" (click)="onAchatValid(row)"> verified </mat-icon>
                            <mat-icon class="smallBut" (click)="onDeleteAchat(row)"> delete_outline </mat-icon>
                            
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <!-- Produit Details -->
                        <app-achat-details (deleteAchat)="onDeleteAchat($event)" [row]="row" [i]="i" 
                        >
                        </app-achat-details>
                        </mat-expansion-panel>       
                      
                        </td>
                    </section>
                  <!-- Tab Def -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBis; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBis;"></tr>
                </ng-container>

              </table>
              <mat-paginator #pageTrue *ngIf="statut.value==true" [pageSizeOptions]="[2,5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
              <mat-paginator #pageFalse *ngIf="statut.value==false" [pageSizeOptions]="[2,5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
            </div>
        
        </mat-tab>
      </div>
    </mat-tab-group>
</div>
